body {
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  text-align: center;
}

.sd {
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
  position: relative;
}

.sd-header {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid black;
}

.close-button {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

i.material-icons {
  color: lightgray;
}

i.material-icons:hover {
  color: black;
}

.sd-staffing {
  padding: 8px;
}

.sd-staffing > div {
  height: 26px;
  line-height: 26px;
}

.button-container {
  text-align: center;
  height: 32px;
  line-height: 32px;
}

button {
  border: 1px solid black;
  height: 18px;
}

.shift-detail {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  margin: 8px;
}

.shift-detail p {
  margin: 0;
  height: 22px;
  line-height: 22px;
}

.phone-input-container {
  text-align: center;
}

.phone-input-container > input {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 28px;
}

@media (min-width: 490px) {
  #scheduler {
    margin: 0 20%;
  }
}